/* 增大页面宽度 */
.md-content {
    max-width: 100% !important;
}

.md-grid {
    max-width: 100%;
}

:root {
    --md-content-width: 1200px;
}

/* 文件夹样式 */
.md-nav__item--section > .md-nav__link {
    font-weight: 600;
    background: var(--md-default-fg-color--lightest);
    border-radius: 0.25rem;
    margin: 0.2rem 0;
}

[data-md-color-scheme="slate"] .md-nav__item--section > .md-nav__link {
    background: var(--md-default-bg-color--dark);
}
